* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
}

header {
    padding: 35px 0px;

}

header h1 {
    font-size: 38px;
}

header p {
    font-size: 18px;
}