
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
nav{
    border:1px solid red;
 display: flex;
 justify-content: space-between;   
}
nav > ul{
    border: 1px solid red;
    display: flex;
}
main{
    height: 90vh;
display: flex;

justify-content: center;
align-items: center;
}

.content-wrapper{
    width: 100%;
    border: 1px solid ;display: flex;
}
.content-paragraph{
    border: 1px solid blue;
   display: flex;
   align-items: center; 
}
.content-interior{
    position: relative;
    width:50%;
}


.interior img{

    width: 100%;
    height: 100%;
    object-fit: cover ;

}.interior{
    position: relative;
      height: 586.53px;
     width:100%;
     margin:0 auto;
     /* width: 60%; */
     border: 1px solid green;
}
.outter-wrapper{
    position: absolute;
    z-index: 999;
    border: 1px solid; 
    right: -3%;
    bottom: -5%;
    transform: translate(-50%, 0);
    padding:15px 20px;
}
.paragraph-detail{
    width: 50%;
margin:0 auto;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow:hidden;
}
.profile-img img{
    width: 50px;
    height: 50px;
    
}
footer{
    padding:24px 0px;
    text-align: center;
  color: lightgray;
  margin-top: 20px;
}
