html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}


main,
footer,
body {
    background-color: #181719;
    color: white;
}

input,
select {
    vertical-align: middle;
}

header {
    position: fixed;
    width: 100%;

}

ul > li {
    margin-left: 140px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 39px 191px;
    font-family: 'Montserrat', sans-serif;


}

nav .logo {
    border: 1px solid;
    padding: 10px;
}

nav > ul {

    display: flex;
}


main {
    height: 90vh;
    display: flex;


    justify-content: center;
    align-items: center;
}

.content-wrapper {
    width: 80%;
    display: flex;
    margin-top: 86px;
}


.content-paragraph {
    display: flex;
}

.content-interior {
    position: relative;
    width: 91%;
}


.interior img {

    width: 100%;
    height: 100%;
    object-fit: contain;

}

.interior {
    position: relative;
    width: 100%;


}

.outter-wrapper {
    position: absolute;
    z-index: 999;
    right: -20%;
    bottom: -17%;
    transform: translate(-50%, 0);
    padding: 30px 1px 28px 26px;
    background-color: #181719;
    color: white;


}

.paragraph-detail {
    width: 50%;

}
.paragraph-detail h1 {
    font-size: 48px;

}
.paragraph-detail p {
    margin-top: 60px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.paragraph-detail a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 4px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.header_profile_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}

.wrapper {

    width: 70%;
}

.wrapper h1 {
    font-size: 28px;
}

footer {
    padding: 24px 0;
    text-align: center;
    color: lightgray;
    margin-top: 20px;
}
.textuppercase {
    text-transform: uppercase;
}
.textcapitalized {
    text-transform: capitalize;
}
.name {
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
}
.name h4 {
    margin-bottom: 5px;
}
.name small {
    font-size: 13px;

}
.hamburgur-bar {
    display: none;
}
.material-icons {
    font-size: 45px !important;
}
hr {
    display: none
}


@media(max-width:1500px) {
    nav {

        padding: 40px 85px;
    }
    .content-wrapper {
        width: 91%;

        margin-top: 86px;
    }
    .paragraph-detail {
        width: 59%;
    }
    .content-interior {

        width: 103%;
    }
    .outter-wrapper {

        right: -22%;
        bottom: -17%;
        width: 353px;

    }
    ul > li {
        margin-left: 75px;
    }
}
@media(max-width:1200px) {
    .outter-wrapper {
        right: -28%;
        bottom: -17%;
    }
    nav {
        padding: 41px 10px;
    }
    .content-wrapper {
        width: 97%;

        margin-top: 86px;
    }
    .paragraph-detail {
        width: 96%
    }
    .content-interior {

        width: 198%;
    }
    ul > li {
        margin-left: 57px;
    }
}
@media(max-width:800px) {
    hr {
        display: block;
        width: 80%;
        margin: 0 auto 8px;
    }
    .hamburgur-bar {
        display: block;
    }

    .outter-wrapper {
        right: -181px;
        bottom: -9%;
    }
    .content-interior {
        width: 100%;
    }
    .list {
        display: none;
    }
    .content-wrapper {
        flex-direction: column;

    }
    .interior {

        width: 100%;
        height: 437px;
    }
    header {

        width: 100%;
        position: relative;

    }
    main {
        height: auto;

    }
    .paragraph-detail a {

        margin-top: 21px;

    }
    .paragraph-detail p {
        margin-top: 15px;
        font-size: 21px;
    }

    .content-wrapper {
        width: 97%;
        margin-top: 6px;
    }
}
@media(max-width:500px) {

    .content-interior {
        width: 98%;
        margin: 0 auto;
    }
    .list {
        display: none;
    }
    .content-wrapper {
        flex-direction: column;

    }
    .interior {
        width: 100%;
        height: 437px;
        margin: 0 auto;
    }
    header {

        width: 100%;

    }
    main {
        height: auto;

    }
    .paragraph-detail a {

        margin-top: 21px;

    }
    .paragraph-detail p {
        margin-top: 15px;
        font-size: 21px;
    }

    nav {
        padding: 20px 10px;
    }
    footer {
        padding: 100px 0;
        text-align: center;
        color: lightgray;
        margin-top: 20px;
    }
    header {
        position: relative;
    }
    .content-wrapper {
        width: 97%;
        margin-top: 6px;
    }
    .wrapper {
        width: 75%;
    }
    .paragraph-detail {
        width: 83%;
    }
    .paragraph-detail p {
        margin-top: 15px;
        font-size: 17px;

    }
}

@media(max-width:400px) {


    .interior {
        height: 376px;
    }

    .paragraph-detail a {

        margin-top: 30px;

    }
    .paragraph-detail p {
        margin-top: 40px;
        font-size: 17px;
        width: 83%;
    }


    .content-wrapper {
        width: 97%;
        margin-top: 6px;
    }
    .wrapper {
        width: 85%;
    }
    .outter-wrapper {
        width: 299px;
        right: -155px;
        bottom: -8%;
    }


    .paragraph-detail {
        width: 95%;
    }
    .paragraph-detail p {
        margin-top: 15px;
        font-size: 17px;
        width: 83%;
    }
    .paragraph-detail h1 {
        margin-top: 15px;
    }
}

@media(max-width:330px) {
    .paragraph-detail h1 {
        font-size: 39px;
    }
    .outter-wrapper {
        width: 262px;
        right: -138px;
        bottom: -8%;
    }
}
