* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  width: 80%;
  margin: 0 auto;
  font-size: 1.4em;
  padding: 1em;
  font-weight: bold;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.main_img {
  width: 450px;
  height: 450px;
}
.main_content {
  width: 350px;
}
.main_content a {
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 18px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 1em;
}
footer > a {
  text-align: center;
  text-decoration: none;
  display: block;
}

@media (max-width: 375px) {
  .main {
    width: 100%;
  }
  .main_img {
    width: 100%;
    margin: 0 auto;
  }
}
