* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.material-icons,
.font-white {
  color: white;
}
a {
  text-decoration: none;
}
.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.d-flex {
  display: flex;
}
.logo {
  font-size: 30px;
  font-weight: 700;
}

nav > ul > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 8px;
  font-size: 15px;
}
.flex-center > ul > li {
  list-style-type: none;
}

.banner > p {
  color: #2d9cdb;
  font-weight: 900;
}
.icon {
  border-radius: 14px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.icon1 {
  background-color: #2d9cdb;
}
.icon2 {
  background-color: #27ae60;
}
.icon3 {
  background-color: #eb5757;
}

.button-disable {
  color: #828282;
  background-color: #e0e0e0;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}
.button-blue {
  color: white;
  background-color: #2d9cdb;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}
.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.services {
  width: 300px;
  padding: 48px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.services:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  transition: ease 1s;
}
.width-70 {
  width: 70%;
  margin: 0 auto;
}

.width-60 {
  width: 60%;
  margin: 0 auto;
}

.width-80 {
  width: 95%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.social-icon {
  width: 30px;
  height: 30px;
}
img {
  width: 100%;
  border-radius: 16px;
}

footer {
  background-color: #100e1d;
  padding: 30px 300px;
  margin-top: 45px;
}
